// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

/*$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);*/

$colors: (
  primary:    #92CD89,
  secondary:  #DDE6EB,
  danger:     #354B58,
  light:      #FFFFFF,
  dark:       #263844
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


page-api-radio-popover ion-row,
page-api-radio-popover ion-col {
  padding: 0;
}

.popover-text-button {
  padding-left: 0;
  text-align: center;
  min-height: 20px;
  line-height: 18px;
}

.popover-text-button .item-inner {
  padding-right: 0;
}

.popover-text-smaller {
  font-size: 12px;
}

.popover-text-larger {
  font-size: 16px;
}

.popover-row-dots {
  text-align: center;
}

.popover-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
}

.popover-dot-white {
  background-color: rgb(255,255,255);
}

.popover-dot-tan {
  background-color: rgb(249,241,228);
}

.popover-dot-grey {
  background-color: rgb(76,75,80);
}

.popover-dot-black {
  background-color: rgb(0,0,0);
}

.ios .popover-dot.selected,
.md .popover-dot.selected,
.wp .popover-dot.selected {
  border-width: 2px;
  border-color: #327eff;
}

.popover-text-athelas {
  font-family: "Athelas";
}

.popover-text-charter {
  font-family: "Charter";
}

.popover-text-iowan {
  font-family: "Iowan";
}

.popover-text-palatino {
  font-family: "Palatino";
}

.popover-text-san-francisco {
  font-family: "San Francisco";
}

.popover-text-seravek {
  font-family: "Seravek";
}

.popover-text-times-new-roman {
  font-family: "Times New Roman";
}

/*
  iOS Popover
*/

.ios .popover-text-smaller {
  border-right: 1px solid #c8c7cc;
}

.ios .popover-row-dots {
  border-bottom: 1px solid #c8c7cc;
}

.ios .popover-dot {
  border: 1px solid #c8c7cc;
}

.hairlines .popover-text-smaller,
.hairlines .popover-row-dots,
.hairlines .popover-dot {
  border-width: 0.55px;
}

/*
  Material Design Popover
*/

.md .popover-text-smaller {
  border-right: 1px solid #dedede;
}

.md .popover-row-dots {
  border-bottom: 1px solid #dedede;
}

.md .popover-dot {
  border: 1px solid #dedede;
}

/*
  Windows Popover
*/

.wp .popover-dot {
  border: 2px solid #ccc;
}
